page-admin-booking-assign {
    #menu_button{
        background-color: transparent;
        color: black;
        box-shadow: none;    
    }
    
    .border-menu {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #DEF2F1;
        border: 1px solid #3AAFA9;
        margin: 6px 0;
    
    }
    
    .bar3 {
        width: 25px;
    }

    .avatar{
        height: 75px;
        width: 75px;
    }
    img{
        border-radius:50%;
    }
    .scroll{
        overflow-x: auto;
        height: 500px;
        border-right: 0.2px solid #F0F0F0;
    }

    .border{
        border: 1px solid #CACED5;
    }

    .border:hover{
        background-color: #DEF2F1 !important;
    }

    .alert{
        float:right;
        background-color: #FE787B;
        color: white"
    }

}
