<!--
  Generated template for the AdminEditBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>admin-edit-booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="selectedBooking !=null && selectedBooking!=undefined">
    <h1>{{selectedBooking.title}}</h1>
    <h2 *ngFor="let topic of selectedBooking.topics">{{topic.title}}</h2>

    <h4>{{selectedBooking.requestedBy}}</h4>
    <p>{{selectedBooking.startTime}}</p>
    <p>{{selectedBooking.endTime}}</p>
    <p>{{selectedBooking.importanceLevel}}</p>
    <h1>Tutor</h1>
    <h4>{{selectedBooking.tutorAcceptedId}}</h4>
    <h1>User</h1>
    <h2 *ngFor="let user of selectedBooking.userInfos">{{user.profileImageURL}}</h2>
  <button ion-button (click)="submitEdit()">Submit</button>
  <button ion-button (click)="goToCancelBooking(selectedBooking)" class="assignBtn">Cancel Booking</button>
  <button ion-button (click)="cancel()">Cancel</button>

  </ng-container>

</ion-content>