<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Welcome, {{account?.firstName}}!
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()" id="logout">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->
<top-menu></top-menu>
<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="screenWidth<800">
      <button ion-button id="menu_button" menuToggle>
        <div class="border-menu">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3" [style.margin-left]="20"></div>
        </div>
      </button>
    </ion-row>
    <ion-row align-items-stretch>
      <ion-col col-1 *ngIf="screenWidth>=800">
        <button ion-button id="menu_button" menuToggle>
          <div class="border-menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3" [style.margin-left]="20"></div>
          </div>
        </button>
      </ion-col>
      <ion-col>
        <div *ngIf="screenWidth>=800">
          <h2 class="text-colour-darkgrey">Weekly Timetable</h2>
          <div>
            <div class="container-date">
              <button ion-button (click)="onPreWeek()" [disabled]="checkPreviousDisabled()"
                class="date-change-btn text-colour-darkgrey" [disabled]="checkPreviousDisabled()">Previous</button>
              <button ion-button (click)="onNextWeek()" class="date-change-btn text-colour-darkgrey">Next</button>
            </div>
            <div class="relative-div">
              <span class="text-colour-darkgrey font-change">Week {{getWeekNumber(currentDate)}}: {{getStartEndDate()}}
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="screenWidth<800">
          <span class="text-colour-darkgrey change-date-button" (click)="onPreWeek()">
            <ion-icon name="arrow-back"></ion-icon>
          </span>
          <span class="text-colour-darkgrey mobile-week">
            <b>Week {{getWeekNumber(currentDate)}}: </b>
            {{getStartEndDate()}}
          </span>
          <span class="text-colour-darkgrey change-date-button" (click)="onNextWeek()">
            <ion-icon name="arrow-forward"></ion-icon>

          </span>
        </div>
        <ion-scroll scrollX="true">

          <table class="tg">
            <tr>
              <th class="tg-date"></th>
              <ng-container *ngFor="let date of dates; let i = index">
                <th class="tg-date" *ngIf="i!=5 && i!=6">{{convertDateToString(date)}}</th>

              </ng-container>
            </tr>
            <ng-container *ngFor="let t of time;">
              <tr>
                <td *ngIf="!checkMatchTime(t)" class="tg-time">{{t}}</td>
                <td *ngIf="checkMatchTime(t)" class="tg-time"><b>{{t}}</b></td>
                <ng-container *ngFor="let date of dates; let i =index">
                  <ng-container *ngIf="i!=5 && i!=6">
                    <td *ngIf="i==0" [class]="checkPassTime(date,t)" (click)="slotClicked(date,t)">
                      <div class="strike" *ngIf="checkMatchTime(t) && checkMatchDate(date)">
                        <span class="dot"></span>
                      </div>
                      <div class="showBooking">{{checkBooking(t,date)}}</div>
                    </td>
                    <td *ngIf="i!=0" [class]="checkPassTime(date,t)" (click)="slotClicked(date,t)">

                      <div class="strike" *ngIf="checkMatchTime(t) && checkMatchDate(date)">
                        <span class="dot-transparent "></span>
                      </div>
                      <div class="showBooking">{{checkBooking(t,date)}}</div>
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </table>
        </ion-scroll>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>