page-admin-statistics-delivered {

    #year{
        width:150px;   
       }
    
    
    #year option{
        width:150px;   
      }
    
      .topic{
          text-align: center;
          font-size: 23px;
          color: rgb(53,61,71);
          font-weight: bold;
          //background-color:rgb(59, 61, 61);
          
      }

      h4{
        font-size: 17px; 
        color: rgb(53,61,71);
      }

    //   .row{
    //     background-color:rgb(206, 202, 202);
    // }
    // .row2{
    //   background-color:rgb(59, 61, 61);
  //}

}
