page-admin-statistics-delivered {

    #year{
        width:200px;   
       }
    
    
    #year option{
        width:200px;   
      }

      #course{
        width:200px;   
       }
    
    
      #course option{
        width:200px;   
      }

      .topic{
          text-align: center;
          font-size: 23px;
          color: rgb(53,61,71);
          font-weight: bold;
          //background-color:rgb(59, 61, 61);
          
      }

      h4{
        font-size: 17px; 
        color: rgb(53,61,71);
      }
}
