page-itlc-modal-checkin {
.center{
    text-align:center;
}
canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}
.scroll-content {
    overflow: hidden;
  }

  .align{
      text-align:center;
  }

  h5,h6
  {
     font-weight:normal;
     text-align:center !important;
  }

  .btn{
      background-color: #3AAFA9;
  }

  .cancelBtn{
    background-color: #FE787B;
    float: right;
  }

}
