<ion-header>

  <ion-navbar class="center">
    <button class="cancelBtn" ion-button (click)="cancel()">{{'CANCEL' | translate}}
        &nbsp; <i class="fa fa-times"></i>
    </button>
    <h3>&nbsp;Present your student card &nbsp;<i class="far fa-id-card"></i></h3>
  </ion-navbar>
</ion-header>


<ion-content id="modal" style="text-align:center !important" padding overflow-scroll="false">
  <div>
    <img src="assets/imgs/gif.gif" style="width: 83%">
    <i *ngIf="user != null" class="fa fa-check-circle" style="font-size:105px;color:lightgreen;position: absolute;transform: translate( -90%, -10% ); left: 57%;
    top: 26%;"></i>
  </div>
  <div padding *ngIf="user != null || user != undefined">
    <h5 style="font-weight: bold"> {{'WELCOME_TITLE' | translate}} {{user?.firstName}}!</h5>
    <h6 *ngIf="login != null || login != undefined">{{login}} - {{'CHECKIN_SUCCESSFULL' | translate}}</h6>
    <h6>{{'WE_HOPE_YOU_ENJOY_YOUR_TIME_AT_THE_LEARNING_ZONE' | translate}}</h6>
    <button class="btn" ion-button (click)="checkIn()">{{'CONTINUE' | translate}} &nbsp;<i class="fa fa-check-circle"></i>
    </button>
  </div>
  <button *ngIf="clicked == false" class="btn1" ion-button (click)="manualCheckIn()"><span>Don't have a student
      card?</span></button>
  <ion-row *ngIf="clicked == true">
    <ion-col col-4></ion-col>
    <form>
      <ion-col><br><input *ngIf="login == null || login == undefined" placeholder="Enter student ID" type="text"
          id="input_id" value=""></ion-col>
      <br>
      <ion-col padding>
        <br>
        <button *ngIf="login == null || login == undefined" class="btn" ion-button type="button" value="Submit"
          (click)="checkInManual()">{{'CONTINUE' | translate}}</button>
      </ion-col>
    </form>
  </ion-row>

</ion-content>