<!--
  Generated template for the UserRequestModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>userRequestModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <!-- <h1>{{convertToString()}} </h1> -->
      <!-- <h1>{{booking.title}}</h1> -->
    </ion-row>
    <ion-row>
      <ion-col col-12 class="form-border">
        <ion-select placeholder="Select Subjects" [(ngModel)]="booking.subjectId">
          <ion-option *ngFor="let s of subjects " [value]="s.id">{{s.title}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
    <ion-row>
      <ion-col col-12 class="form-border">
        <ion-select placeholder="Select Topics" multiple [(ngModel)]="selectedTopic">
          <ion-option *ngFor="let t of topics " [value]="t.title">{{t.title}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>
        <ion-icon name="calendar"></ion-icon>
        Date Range
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="form-border" >
        <ion-datetime [(ngModel)]="dateStart" display-format="DD/MMM/YYYY"></ion-datetime>
      </ion-col>

      <ion-col offset-2 col-5 class="form-border" >
        <ion-datetime  [(ngModel)]="dateEnd" display-format="DD/MMM/YYYY"></ion-datetime>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-textarea [(ngModel)]="booking.userComments" placeholder="Please provide some more detail about your request...">
      </ion-textarea>
    </ion-row>
    <ion-row>
      <ion-label>
        <ion-icon name="alert" style="color:#FE787B"></ion-icon>
        Level of Importance
      </ion-label>
    </ion-row>
    <ion-row>
      <p><span>
          <ion-icon [name]="booking.importanceLevel!='LOW' ? 'radio-button-off' :'radio-button-on'" class="priority-btn"
            (click)="onClickPriority(1)"></ion-icon>
        </span>
        <span>
          <ion-icon [name]="booking.importanceLevel!='MEDIUM' ? 'radio-button-off' :'radio-button-on'" class="priority-btn"
            (click)="onClickPriority(2)"></ion-icon>
        </span>
        <span>
          <ion-icon [name]="booking.importanceLevel!='HIGH' ? 'radio-button-off' :'radio-button-on'" class="priority-btn"
            (click)="onClickPriority(3)"></ion-icon>
        </span>
      </p>

    </ion-row>

    <ion-row>

      <ion-col col-6>
        <button ion-button block class="cancel-btn" (click)="onClickCancel()">Cancel</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block class="continue-btn" (click)="onClickContinue()">Continue</button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>