<ion-header>

  <ion-navbar>
    <!-- <ion-title>userRequestModal</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content padding class="extra-padding text-colour-darkgrey">
  <ion-grid>
    <ion-row>
      <ion-col col-11 class="form-border">
        <ion-select placeholder="Select Booking Type" [(ngModel)]="selectedType" (ionChange)="typeChange()">
          <ion-option value="EVENT">Event/Other(Book the Room)</ion-option>
          <ion-option value="SUBJECT">Subject in course(Request tutorial)</ion-option>

        </ion-select>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="selectTutotrial!=null">
      <ion-row *ngIf="!selectTutotrial">
        <ion-col col-11 class="form-border">
          <ion-input [(ngModel)]="booking.title" placeholder="Enter Event Title"></ion-input>
        </ion-col>
      </ion-row>
    </ng-container>
    <ion-row *ngIf="selectTutotrial">
      <ion-col col-11 class="form-border">
        <ion-select placeholder="Select Year" [(ngModel)]="selectedYear" (ionChange)="onYearChange()">
          <ion-option *ngFor="let c of courseYears " [value]="c.id">{{c.courseYear}}</ion-option>

        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectTutotrial">
      <ion-col col-11 class="form-border">
        <ion-select placeholder="Select Subjects" [(ngModel)]="booking.subjectId" (ionChange)="onSubjectChange()">
          <ion-option *ngFor="let s of subjects " [value]="s.id">{{s.title}}</ion-option>
          <ion-option value="-1">{{ 'OTHERS' |translate}}</ion-option>

        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectTutotrial && booking.subjectId != -1 ">
      <ion-col col-11 class="form-border">
        <ion-select placeholder="Select Topics" multiple [(ngModel)]="booking.topics">
          <ion-option *ngFor="let t of topics " [value]="t">{{t.title}}</ion-option>
          <ion-option>{{ 'OTHERS' |translate}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
	  <ion-label class="text-colour-darkgrey">
          <ion-icon name="calendar"></ion-icon>
          <span class="padding-left-size">Date selected: <b>{{s1.substring(0,10)}} {{s1.substring(11,13)}}:00 -
              {{s2.substring(11,13)}}:00</b></span>
        </ion-label>
		<hr>
        <ion-label class="text-colour-darkgrey">
          <ion-icon name="calendar"></ion-icon>
          <span class="padding-left-size"> {{'DATE_RANGE' | translate}} (Optional)</span>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <span style="color:red">You can choose from a range of dates that you are available and you can also choose the
          available times on the next page</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="form-border">
        <ion-datetime [(ngModel)]="dateStart" display-format="DD/MMM/YYYY" [min]="minDate" [max]="maxDate"
          (ionChange)="changeStartDate()"></ion-datetime>
      </ion-col>

      <ion-col offset-2 col-5 class="form-border">
        <ion-datetime [(ngModel)]="dateEnd" display-format="DD/MMM/YYYY" [min]="dateEndMinDate" [max]="dateEndMaxDate"
          [disabled]="dateStart==null||dateStart==undefined"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-11>
        <ion-textarea [(ngModel)]="booking.userComments"
          placeholder="Please provide some more detail about your request...">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-label class="text-colour-darkgrey">
          <ion-icon name="alert" style="color:#FE787B"></ion-icon>
          <span class="padding-left-size"> {{'LEVEL_OF_IMPORTANCE' | translate}}</span>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <p>
        <span>
          {{'LOW'|translate}}
          <ion-icon [name]="booking.importanceLevel!='LOW' ? 'radio-button-off' :'radio-button-on'" class="priority-btn"
            (click)="onClickPriority(1)"></ion-icon>
        </span>
        <span>
          {{'MEDIUM'|translate}}
          <ion-icon [name]="booking.importanceLevel!='MEDIUM' ? 'radio-button-off' :'radio-button-on'"
            class="priority-btn" (click)="onClickPriority(2)"></ion-icon>
        </span>
        <span>
          {{'HIGH'|translate}}
          <ion-icon [name]="booking.importanceLevel!='HIGH' ? 'radio-button-off' :'radio-button-on'"
            class="priority-btn" (click)="onClickPriority(3)"></ion-icon>
        </span>
      </p>

    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button block class="cancel-btn" (click)="onClickCancel()">{{'CANCEL_BUTTON' | translate}}</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block class="continue-btn" (click)="onClickContinue()"
          [disabled]="checkValid()">{{'CONTINUE' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>