page-admin-settings {
    .toolbar-background-md {
        background-color: #202D31;
    }
    .toolbar-title-md,.bar-button-default-md{
        color: #FFFFFF;
    }
    .form-border {
        margin: 5px;
        border: 1px solid #92E1DE;
        border-radius: 1em;
        background-color: #F6FFFF;
    }
}