<!--
  Generated template for the AdminSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <!-- <ion-col col-2>
        <ion-list>
          <button ion-item *ngFor="let name of names" (click)="itemSelected(name.page)">
            {{ name.name }}
          </button>
        </ion-list>
      </ion-col> -->
      <ion-col col-12>
        <ng-container *ngIf="page=='set-date'">
          <ion-row>

            <ion-col col-11 offset-1>
              <ion-label class="text-colour-darkgrey">
                <ion-icon name="calendar"></ion-icon>
                <span class="padding-left-size">Academic Calendar Start Date</span>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10 offset-1>
              <div class="form-border">
                <ion-datetime [(ngModel)]="dateStart" display-format="DD/MMM/YYYY"></ion-datetime>
              </div>
            </ion-col>
          </ion-row>
          <!-- <page-admin-settings-set-date></page-admin-settings-set-date> -->
        </ng-container>
        <ion-row>
            <ion-col col-11 offset-1>

          <button ion-button (click)="saveChanges()">Save Changes</button>
       </ion-col> 
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>