<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="align" padding>
  <ion-row></ion-row>
  <ion-row>
    <ion-col>
      <h3 *ngIf="tag == 'cancelBooking'">{{'CANCELLING_REASON' | translate}}</h3>
      <h3 *ngIf="tag == 'rejectBooking'">{{'REJECTING_REASON' | translate}}</h3>
    </ion-col>
  </ion-row>
  <ion-row class="inputPos">
    <ion-col>
      <select [(ngModel)]="message" (ngModelChange)="changes($event)">
        <option [ngValue]="" disabled [selected]="true">{{'CHOOSE_AN_OPTION' | translate}}</option>
        <ng-container *ngFor="let message of messages">
          <option [ngValue]="message">
            {{message?.reason}}
          </option>
        </ng-container>
        <option value="other">
          {{'OTHER' | translate}}
        </option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="change == 'other'">
      <input [(ngModel)]="other" type="text" name="other" placeholder=" Type reason here..">
    </ion-col>
  </ion-row>
  <ion-row class="btnPos">
    <ion-col>
      <button class="btn" ion-button (click)="dismiss()">{{'CANCEL' | translate}}</button>
      <button class="btn" ion-button [disabled]="message == null || message == undefined" (click)="confirmCancellation(message)">{{'CONTINUE' | translate}}</button>
    </ion-col>
  </ion-row>

</ion-content>