<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="text-align:center" padding>
  <ion-row></ion-row>
  <ion-row>
    <ion-col>
      <h3 *ngIf="tag == 'cancelBooking'">Cancelling reason</h3>
      <h3 *ngIf="tag == 'rejectBooking'">Rejecting reason</h3>
    </ion-col>
  </ion-row>
  <ion-row style="text-align:center;padding-top:50px">
    <ion-col>
      <select [(ngModel)]="message" (ngModelChange)="changes($event)">
        <option [ngValue]="" disabled [selected]="true">Choose an option</option>
        <ng-container *ngFor="let message of messages">
          <option [ngValue]="message">
            {{message.reason}}
          </option>
        </ng-container>
        <option value="other">
          Other
        </option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="change == 'other'">
      <input [(ngModel)]="other" type="text" name="other" placeholder=" Type reason here..">
    </ion-col>
  </ion-row>
  <ion-row style="text-align:center;padding-top:80px">
    <ion-col>
      <button class="btn" ion-button (click)="dismiss()">Cancel</button>
      <button class="btn" ion-button [disabled]="message == null || message == undefined" (click)="confirmCancellation(message)">Continue</button>
    </ion-col>
  </ion-row>

</ion-content>