page-admin-statistics-distribution {

    #year{
        width:150px;   
       }
    
    
    #year option{
        width:150px;   
      }
    
      .topic{
          text-align: center;
          font-size: 25px;
          color: rgb(53,61,71);
          font-weight: bold;
          
      }

      h4{
        font-size: 17px; 
        color: rgb(53,61,71);
      }
}
