<!--
  Generated template for the AdminStatisticsDistributionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>adminStatisticsDistribution</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="topic">
    <p>
      Tutorial Distribution By Module
    </p>
  </div>
  <form (submit)="generateChart()">
    <ion-grid>
      <ion-row text-center>
        <ion-col size="18" size-sm>
          <div class="headers">
            <h4>Course</h4>
            <div>
              <select class="form-control" name="course" id="course" class="input" [(ngModel)]="selectedCourse" [ngModelOptions]="{standalone: true}">
                <option>Please select a course</option>
                <option value="all" selected>All</option>
                <option *ngFor="let course of courses; trackBy: id;let i = index;" class="form-control" class="text-center">{{course?.title}}
                  {{course?.code}}</option>
              </select>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            <h4>Course year</h4>
            <select class="form-control" name="year" id="year" class="input" [(ngModel)]="selectedYear"
              [ngModelOptions]="{standalone: true}">
              <option selected value="all" selected>All</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            <h4>Start date</h4>
            <div>
              <div class="input-group-prepend">
              </div>
              <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" [ngModelOptions]="{standalone: true}"
                required />
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            <div>
              <h4>End date</h4>
              <div class="input-group-append">
              </div>
             <input type="date" selected="date" class="form-control" name="end"  [(ngModel)]="toDate" [ngModelOptions]="{standalone: true}"
                required /> 
    
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-sm>
          <div>
            <h4>Action</h4>
            <button *ngIf="fromDate != undefined && toDate != undefined && selectedCourse != undefined && selectedYear != undefined && chartGenerated == false"
              type="submit" class="btn btn-info btn-sm">
              <!-- <fa-icon [icon]="'eye'"></fa-icon> -->
              <span class="d-none d-md-inline">View</span>
            </button>
            <button type="button" *ngIf="labels.length > 0" (click)="exportAsXLSX()">   <span class="btn btn-info btn-sm">Booking Data XLS</span></button>
            <button type="button" *ngIf="labels.length > 0" (click)="exportChartDataAsXLSX()"> <span
              class="btn btn-info btn-sm">Chart Data XLS</span></button>
            <button  *ngIf="chartGenerated == true" (click)="refreshPage()">   <span class="btn btn-info btn-sm">New Chart</span></button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <div style="display: block">
    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div> -->
  <br>
  <div>
      <ng-container *ngIf="data.length == 0">
          <img src="assets/images/blank-graph2.png">
        </ng-container>
      <ng-container *ngIf="data.length > 0">
          <br>
          <br> 
          <br> 
          <div style="display: block">
              <canvas width="1400" height="400" baseChart [data]="data" [labels]="labels" [chartType]="'pie'" [options]="barChartOptions"
                (chartHover)="chartHovered($event)" ></canvas>
            </div>
      </ng-container>
  </div>


</ion-content>
