page-user-join-tutorial-modal {
    .cancel-btn{
        border:1px solid #FFCDA5;
        color:#FE787B;
        background-color: white;
        }
        .continue-btn{
            background-color: #FE787B;
            color: white;
        }
}
