page-admin-statistics-hours {

    #year{
        width:150px;   
       }
    
    
    #year option{
        width:150px;   
      }
      
      #course{
        width:200px;   
       }
    
    
      #course option{
        width:200px;   
      }
    
      .topic{
          text-align: center;
          font-size: 23px;
          color: rgb(53,61,71);
          font-weight: bold;
          
      }

      h4{
        font-size: 17px; 
        color: rgb(53,61,71);
      }

}
