page-user-request-timeslot {
    .button-md:hover:not(.disable-hover) {
        background-color: #92E1DE;
    }
    .cancel-btn{
    border:1px solid #FFCDA5;
    color:#FE787B;
    background-color: white;
    }
    .continue-btn{
        background-color: #FE787B;
        color: white;
    }
    .text-green{
        color: #3AAFA9;
    }
    .date-color{
        color: #717171;
    }

    .time-slot-btn{
        cursor: pointer;
        background-color: #FFF5EC;
        color: #717171;
        margin: 5px;
        border-radius: 0.3em;
        margin:5px;
    }
    .time-slot-selected-btn{
        cursor: pointer;
        background-color: #FFB478;
        color: #717171;
        margin: 5px;
        border-radius: 0.3em;
        margin:5px;
    }
}
